@charset "utf-8";

@media all and (max-width: 1620px) { 
  #header .navbox .left {width: auto;}
} 


@media all and (max-width: 1200px) {
  #header .navbox .left h1 {font-size: 30px;}
  #header .depth1 {font-size: 16px;}
  #header .right {font-size: 13px;}
}


/* 769px ~ 1024px */
@media all and (max-width: 1024px) { 
  /* HEADER 구역 */
  #header {position: relative;}
  #header .navbox {padding: 0 0 0 30px; display: inline-block;}
  #header.on .open, #header.on .close {position: fixed; top: 30px; right: 25px;}
  #header .open, #header .close {position: fixed; top: 30px; right: 25px;}
  #header .open.on, #header .close.on {display: block; z-index: 999999;}
  #header .open button, #header .close button {font-size: 35px; color: #072a60; background: none;
                                        border: none;}
  #header .navbox .nav {float: unset; font-size: 18px; display: block; text-align: center;
                padding: 10px 0 0px 0; z-index: 99999; 
                position: fixed; top: 94px; bottom: 0; right: -250px;
                overflow-y: auto; width: 250px; background: #fff}
  #header .nav.on {display: block;}
  #header .depth1 {display: block;}
  #header .depth1 > li {display: block; font-weight: bold; position: relative;
                        padding: 20px 0 16px; font-size: 16px;}
  #header .depth2 {position: inherit; top: 100%; right: 0; width: auto;
                   z-index: 9999999; display: none; text-align: center;
                    padding-top: 17px;}
  #header .depth2 > li > a {padding: 0px 40px; display: block; font-size: 13px; 
                            line-height: 1.4; color: #fff;}
  #header .right {font-size: 14px;}

  /* FOOTER 구역 */
  #footer {padding: 50px 40px; font-size: 14px;}

}  


/* 모바일 가로, 태블릿 세로  481px ~ 768px*/
@media all and (max-width: 768px) { 
  /* HEADER 구역 */
  #header .navbox {padding: 0 0 0 20px;}
  #header .navbox .nav {width: 230px;}
  #header .navbox .left h1 {font-size: 27px; margin-top: 17px;}
  #header .depth1 > li {font-size: 15px; padding: 15px 0 10px;}
  #header .open, #header .close {right: 20px;}
  #header .depth2 > li > a {font-size: 12px; padding: 0 43px;}
  
  /* FOOTER 구역 */ 
  #footer {display: block;}
  #footer > .right {text-align: center;}
  #footer > .left span {font-size: 12px; margin-right: 20px;}
  #footer > .left p:nth-of-type(2) {padding-bottom: 10px;}
  #footer > .left span::after {top: 2px; right: -11px; height: 10px;}
  #footer > .left span i {font-size: 12px; }
} 


/* 모바일,  태블릿  ~480px */
@media all and (max-width: 480px) {
  /* HEADER 구역 */
  #header .navbox {padding: 0 0 0 13px}
  #header .navbox .nav {top: 82px;}
  #header .navbox .left h1 {font-size: 22px; margin-top: 13px;}
  #header .navbox .left img {width: 40px;}
  #header .depth1 > li {font-size: 14px; padding: 10px 0 7px;}
  #header .depth2 > li {padding: 10px 0;}
  #header .open, #header .close {top: 22px; right: 13px;}
  #header.on .open, #header.on .close {top: 22px; right: 13px;}

  /* FOOTER 구역 */
  #footer {padding: 30px 20px; text-align: center;}
  #footer > .left p {font-size: 12px;}
  #footer > .left span {font-size: 11px; display: block;}
  #footer > .left p:nth-of-type(2) {padding-bottom: 10px;}
  #footer > .left span::after {display: none;}
  #footer > .left span i {font-size: 10px; }

}

